<header>
  <div class="container">
    <div class="col-3">
      <div class="list">
        <button>Favorites</button>
        <div class="list-item">
          <ul>
            <li><a class="border nav-link" routerLink="">Inbox</a></li>
            <li><a class="border nav-link" routerLink="/sent-items">Sent Items</a></li>
          </ul>
        </div>
        <button>John</button>
        <div class="list-item">
          <ul>
            <li><a class="border nav-link" routerLink="">Inbox</a></li>
            <li><a class="border nav-link" routerLink="">Drafts</a></li>
            <li><a class="border nav-link" routerLink="">Deleted Items</a></li>
            <li><a class="border nav-link" routerLink="">Sent Items</a></li>
            <li><a class="border nav-link" routerLink="">Out Box</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
