<div class="container">
  <h1>Category</h1>
</div>
<div class="row">
  <div class="col-3" *ngFor="let p of products">
    <div class="card">
      <img [src]="p.thumbnail" class="img-fluid">
    </div>
    <div class="card-body">
      <h2><a routerLink="/product/{{p.id}}"> {{p.title}}</a></h2>
      <p class="text-danger">{{p.price}}</p>
      <button class="btn btn-outline-danger">Add to cart</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center mb-5 mt-3">
    <button (click)="loadmore()" type="button" class="btn-outline-primary btn">Load more</button>
  </div>
</div>
