<div class="row">
  <div class="col">
  <input (click)="getSearch()"  type="text" [(ngModel)]="s" class= "form-control" >
  </div>
  <div class="col">
    <button class="btn btn-outline-primary">Search</button>
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <h2>Tìm kiếm: {{s}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-3" *ngFor="let p of search">
    <div class="card">
      <img [src]="p.thumbnail" class="img-fluid">
    </div>
    <div class="card-body">
      <h2><a routerLink="/product/{{p.id}}"> {{p.title}}</a></h2>
      <p class="text-danger">{{p.price}}</p>
      <button class="btn btn-outline-danger">Add to cart</button>
    </div>
  </div>
</div>
